#drawsldmain{
    display: flex;
    width: 10vw;
    height: 100vh;
    border-color: black;
    border-width: 2px;
}

.drawsldmain {
  display: flex;    
  height: 100vh;
  background: #f1f5f9;
}

/* Sidebar */
.sidebar {
  width: 260px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(white,rgba(224, 224, 225, 0.87));
  border-right: #aeaeae solid 1px;
}

.sidebar-title {
  font-size: 3vh;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.664)  ;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

/* Node blocks */
.drawsldblock {
  padding: 12px;
  margin-bottom: 6px;
  color: black;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;

}

/* Canvas */
.canvas {
  flex: 1;
  background: #ffffffc9;
}

.sidebar-midbox{
  background-color:rgba(171, 171, 171, 0.08);
  height: 100%;
  overflow-y: auto;
}

.sidebar-midbox::-webkit-scrollbar {
  width: 10px;
}

.sidebar-midbox::-webkit-scrollbar-track {
  background: black;
}

.sidebar-midbox::-webkit-scrollbar-thumb {
  background: rgba(194, 194, 194, 0.658);
  border-radius: 4px;
}

.sidebar-upperbox{
  margin-top:6%;
  padding-left:12px;
  padding-right: 12px;
  padding-bottom: 18px;
  flex-shrink: 0;
  border-bottom-width: 1px;
  border-color: #aeaeae;
}

.firstlabel{
  margin-bottom: 10px;
}

.sidebar-search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(171, 171, 171, 0.08);
  padding:8px 12px;
  border-radius: 15px;
  border: 1px solid rgba(88, 88, 88, 0.42);
  backdrop-filter: blur(6px);
  transition: all 0.25s ease;
  
}


.sidebar-search-container:hover {
  border-color: rgb(107, 106, 106);
}

.sidebar-search-container:focus-within {
  border-color: #6b6b6c;
  box-shadow: 0 0 0 2px rgba(142, 142, 142, 0.25);
}

.sidebar-search-container svg {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}

.sidebar-search-engine {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: rgb(58, 58, 58);
  font-size: 14px;
  letter-spacing: 0.3px;
}

.sidebar-search-engine::placeholder {
  color: rgba(57, 57, 57, 0.564);
}

