#drawsldmain{
  flex: 1;                 /* Takes remaining space */
  display: flex;
  overflow: hidden; 
  height: 100%;
}

.project-main-page{
  height: 100vh;
  display: flex ;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}
