
.navbar-mainblock{
    display: flex;
    width: 100wh;
    height: 10vh;
    border-color: #98989896;
    align-items: center;
    justify-content: space-between;
    padding-left: 12px;
    border-bottom-width: 1px;
    flex-shrink: 0;
}

.icons:active{
    color: #abbac4;
    transform: translateY(1px);
}   
.NavbarButtonDiv{
    display: flex;
    gap: 20px;
    /* border-color: #434343; */
    /* border-width: 1px; */
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-left: 5px;
    padding-right: 20px;
}
.navbarbutton{
    display: flex;
    border-radius:8px;
    cursor: pointer;
    padding-left: 6px;
    padding-right: 6px;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(35, 38, 105); */
    
}

.navbarbutton:hover{
    background-color: #e1e1e1ad;
}

.NavbarIconButton{
    display: flex;
    gap: 15px;
    padding-left: 20px;
    color: white;
}
.first{
    border-color: rgba(117, 117, 117, 0.224);
    border-left-width: 1.5px;
    padding-bottom: 3px;
    padding-top: 3px;
}
.second{
    border-color: rgba(117, 117, 117, 0.224);
    border-left-width: 1.5px;
    padding-bottom: 3px;
    padding-top: 3px;
}
.third{
    border-color: rgba(117, 117, 117, 0.224);
    border-left-width: 1.5px;
}   

.zoom-box{
    display: flex;
    background-color: #eceaeaa1;
    border-radius: 8px;
    padding: 3px;
}
.zoom-percent-display{
    color: black;
}